<Tabs selectedIndex="0" height="100%">
    <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
    <TabStrip>
        <!-- <TabStripItem>
            <Label text="&#xf015;    Inicio" class="fas"></Label>
        </TabStripItem> -->
        <!-- <TabStripItem class="special">
            <Label text="&#xf2c2;    Mis datos" class="fas"></Label>
        </TabStripItem> -->
    </TabStrip>

    <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
    <TabContentItem>
        <GridLayout>
            <StackLayout>
                <CardView class="card-view-background" margin="10" elevation="40" radius="1">
                    <StackLayout margin="10">
                        <GridLayout rows="auto, auto" columns="*, auto">
                            <Label class="message-title" row="0" col="0" text="Ahorra Seguros" textWrap="true"></Label>
                            <GridLayout row="0" col="1" class="box-new-message" verticalAlignment="center">
                                <Label class="new-message" text="Nuevo" textWrap="true"></Label>
                            </GridLayout>
                            <GridLayout row="1" col="0" colSpan="2" height="100">
                                <Label row="1" class="message-body" text="" textWrap="true" verticalAlignment="center">
                                    <FormattedString>
                                        <Span text="¡Hola "></Span>
                                        <Span [text]=" " class="bold" fontAttributes="Bold"></Span>
                                        <Span text="te damos la bienvenida!"></Span>
                                    </FormattedString>
                                </Label>
                            </GridLayout>
                        </GridLayout>
                    </StackLayout>
                </CardView>
            </StackLayout>
        </GridLayout>
    </TabContentItem>
    <!-- <TabContentItem>
        <GridLayout height="100%">
            <app-personal-information></app-personal-information>
        </GridLayout>
    </TabContentItem> -->
</Tabs>