/* TabStrip {
    selected-item-color: #fff;
    un-selected-item-color: #fff;
    highlight-color: #FE007D;
    background-color: #022462;
    font-weight: bold;
    font-size: 12;
} */

// Estilos para el ícono del la foto del usuario
/* .user-icon{
    width: 14%;
    border-radius: 100%;
    margin-left: 20;
    margin-top: 20;
} */

/* .title-menu-tabs{
    color: white;
    font-size: 20px;
    text-transform: uppercase;
} */