<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
    <ActionBar title="Mi Pólizas" icon="" class="action-bar">
        <NavigationButton icon="font://&#xf060;" class="fas" (tap)="goBack()"></NavigationButton>
        <ActionItem ios.position="left" icon="font://&#xf07c;" class="fas" android.position="actionBar">
        </ActionItem>
    </ActionBar>
    <StackLayout *ngIf="policiesMethods.dataLoaded === false; else elseBlock">
        <app-loader [(textLoader)]="textLoader"></app-loader>
    </StackLayout>
    <ng-template #elseBlock>
        <StackLayout height="100%">
            <StackLayout width=" 90%" height="100%" class="notPolicies"
                *ngIf="policiesMethods.policiesArray.length === 0; else elseblk">
                <Label text="Aún no tienes Pólizas" textWrap="true"></Label>
            </StackLayout>
            <ng-template #elseblk>
                <StackLayout width="90%" height="100%">
                    <Label class="textInfo" text="En esta sección puedes ver todas tus Pólizas de seguros"
                        textWrap="true"></Label>
                    <ScrollView width="100%" orientation="vertical">
                        <StackLayout orientation="vertical">

                            <StackLayout class="shadow" *ngFor="let item of policiesMethods.policiesArray">
                                <StackLayout height="100%" class="stacklayout-card">
                                    <StackLayout class="stacklayout-card-title">
                                        <Image height="125px" [src]="item.urlImage"></Image>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-body">
                                        <GridLayout rows="*,*,*" columns="170, *">
                                            <Label row="0" col="0" class="title-policies" text="Número de Póliza"
                                                textWrap="true"></Label>
                                            <Label row="0" col="1" class="text-policies" [text]="item.poliza"
                                                textWrap="true"></Label>

                                            <Label row="1" col="0" class="title-policies" text="Tipo subramo"
                                                textWrap="true"></Label>
                                            <Label row="1" col="1" class="text-policies" [text]="item.tipoSubramo"
                                                textWrap="true"></Label>

                                            <Label row="2" col="0" class="title-policies" text="Número de Pagos"
                                                textWrap="true"></Label>
                                            <Label row="2" col="1" class="text-policies" [text]="item.cantidadPagos"
                                                textWrap="true"></Label>
                                        </GridLayout>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-options">
                                        <GridLayout rows="*" columns="*, *, *">
                                            <Button col="0" class="btnOptions" text="Ver Póliza"
                                                (tap)="onViewTap(item.archivo)"></Button>
                                            <Button col="1" class="btnOptions" text="Solicitudes"
                                                (tap)="onPetitionsTap('')"></Button>
                                            <Button col="2" class="btnOptions" text="Detalles"
                                                (tap)="onDetailsTap(item.id)"></Button>
                                        </GridLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>

                        </StackLayout>
                    </ScrollView>
                </StackLayout>
            </ng-template>
        </StackLayout>
    </ng-template>
</Page>