<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:pdf="nativescript-pdf-view" loaded="pageLoaded">
    <GridLayout rows="*, 120" height="100%" width="98%">
        <pdf:PDFView row="0" src="https://login-app.mark-43.net/auth-cliente/poliza/aviso-privacidad" (load)="onLoad()">
        </pdf:PDFView>
        <GridLayout row="1" rows="*, *" columns="*, 100" class="switchPrivacity" verticalAlignment="center" width="98%">
            <Label verticalAlignment="center" textAlignment="right" row="0" col="0" [text]="textPrivacity"
                textWrap="true"></Label>
            <Switch row="0" col="1" [color]="privacityChecked ? '#FE007D' : 'darkgray'" backgroundColor="#FE007D"
                offBackgroundColor="gray" (checkedChange)="onCheckedChange($event)"></Switch>
            <Button row="1" col="0" colSpan="2" text="Aceptar y continuar" (tap)="acceptPrivacityAndCotinue()"
                [isEnabled]="privacityChecked ? true : false"></Button>
        </GridLayout>
    </GridLayout>
</Page>