<Page xmlns="http://schemas.nativescript.org/tns.xsd" xmlns:pdf="nativescript-pdf-view" loaded="pageLoaded">
    <ActionBar title="Mi Póliza" icon="" class="action-bar">
        <NavigationButton icon="font://&#xf060;" class="fas" (tap)="goBack()"></NavigationButton>
    </ActionBar>
    <pdf:PDFView row="0" [src]="pdfURL" (load)="onLoad()">
    </pdf:PDFView>
</Page>