<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
    <ActionBar title="Mi Perfil" icon="" class="action-bar">
        <NavigationButton icon="font://&#xf060;" class="fas" (tap)="goBack()"></NavigationButton>
        <ActionItem ios.position="left" icon="font://&#xf2bd;" class="fas" android.position="actionBar">
        </ActionItem>
    </ActionBar>
    <StackLayout height="100%">
        <Tabs selectedIndex="0" height="100%">
            <!-- The bottom tab UI is created via TabStrip (the containier) and TabStripItem (for each tab)-->
            <TabStrip>
                <TabStripItem>
                    <Label text="&#xf2c2;    Mis datos" class="fas"></Label>
                </TabStripItem>
                <TabStripItem class="special">
                    <Label text="&#xf2bb;    Dirección" class="fas"></Label>
                </TabStripItem>
                <TabStripItem class="special">
                    <Label text="&#xf2b9;    Contacto" class="fas"></Label>
                </TabStripItem>
            </TabStrip>

            <!-- The number of TabContentItem components should corespond to the number of TabStripItem components -->
            <!-- #region Tab Mis Datos -->
            <TabContentItem>
                <GridLayout>
                    <StackLayout width="90%" height="100%">
                        <ScrollView width="100%" orientation="vertical">
                            <StackLayout class="shadow">
                                <StackLayout height="100%" class="stacklayout-card">
                                    <StackLayout class="stacklayout-card-title">
                                        <Label text="Mis Datos Personales" textWrap="true"></Label>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-body" width="100%">
                                        <Label class="title" text="Nombre" textWrap="true"></Label>
                                        <Label class="title-body"
                                            [text]="clientData[1].toString() + ' ' + clientData[2].toString() + ' ' + clientData[3].toString()"
                                            textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Fecha de Nacimiento" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[4]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="CURP" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[5]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="RFC" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[6]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </ScrollView>
                    </StackLayout>
                </GridLayout>
            </TabContentItem>
            <!-- #endregion Tab Mis Datos -->
            <!-- #region Tab Direccion -->
            <TabContentItem>
                <GridLayout>
                    <StackLayout width="90%" height="100%">
                        <ScrollView width="100%" orientation="vertical">
                            <StackLayout class="shadow">
                                <StackLayout height="100%" class="stacklayout-card">
                                    <StackLayout class="stacklayout-card-title">
                                        <Label text="Mi Dirección" textWrap="true"></Label>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-body" width="100%">
                                        <Label class="title" text="Calle" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[13]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Número Exterior" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[14]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Número Interior" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[15]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Colonia" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[11]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Código Postal" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[12]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="País" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[10]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </ScrollView>
                    </StackLayout>
                </GridLayout>
            </TabContentItem>
            <!-- #endregion Tab Direccion -->
            <!-- #region Tab Contacto -->
            <TabContentItem>
                <GridLayout>
                    <StackLayout width="90%" height="100%">
                        <ScrollView width="100%" orientation="vertical">
                            <StackLayout class="shadow">
                                <StackLayout height="100%" class="stacklayout-card">
                                    <StackLayout class="stacklayout-card-title">
                                        <Label text="Mis Datos de Contacto" textWrap="true"></Label>
                                    </StackLayout>
                                    <StackLayout class="stacklayout-card-body" width="100%">
                                        <Label class="title" text="Teléfono Fijo" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[7]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Teléfono Móvil" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[8]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                        <Label class="title" text="Correo Electrónico" textWrap="true"></Label>
                                        <Label class="title-body" [text]="clientData[9]" textWrap="true"></Label>
                                        <StackLayout class="hr"></StackLayout>
                                    </StackLayout>
                                </StackLayout>
                            </StackLayout>
                        </ScrollView>

                    </StackLayout>
                </GridLayout>
            </TabContentItem>
            <!-- #endregion Tab Contacto -->
        </Tabs>
    </StackLayout>
</Page>