// Add mobile styles for the component here.
/* .errorTextField {
    color: rgb(230, 10, 10);
    font-size: 14;
    margin: 0 15 0 15;
    font-weight: bold;
}

GridLayout {
    width: 100%;
}

TextField.login-input {
    color: #055fa5;
    font-size: 20px;
}

Button.btn-login-submit {
    margin-bottom: 0;
    border-radius: 80px;
    color: #fcfcfc;
    font-size: 20px;
    background-color: #014f98;
} */

.page {
    align-items: center;
    flex-direction: column;
}
.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}

.logo {
    margin-bottom: 12;
    height: 200;
    font-weight: bold;
}

.header {
    horizontal-align: center;
    font-size: 25;
    font-weight: 600;
    margin-bottom: 70;
    text-align: center;
    color: #fe007d;
}

.input-field {
    margin-bottom: 25;
}

.input {
    font-size: 18;
    placeholder-color: #a8a8a8;
}
.input:disabled {
    background-color: white;
    opacity: 0.5;
}

.btnLogin {
    margin: 30 5 15 5;
    background-color: #4c4fcd;
    color: #fff;
    font-weight: bold;
}

.login-label {
    horizontal-align: center;
    color: #a8a8a8;
    font-size: 16;
}

.sign-up-label {
    margin-bottom: 20;
}

.bold {
    color: #000000;
}

// Estilos para mostrar el error debajo de los textfields
.errorTextField {
    color: rgb(230, 10, 10);
    font-size: 14;
    margin: 0 15 0 15;
    font-weight: bold;
}
