<!-- <Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo"> -->
<ActionBar>
    <Label [text]="actionBarTitle" textWrap="true"></Label>
</ActionBar>
<StackLayout *ngIf="isLogin; else elseBlock">
    <app-loader [(textLoader)]="textLoader"></app-loader>
</StackLayout>
<ng-template #elseBlock>
    <FlexboxLayout class="page">
        <form [formGroup]="formGroup" height="100%">
            <StackLayout class="form">
                <Image class="logo" src="~/assets/images/login/logo.png"></Image>
                <!-- <Label class="header" text="Ahorra Seguros"></Label> -->
                <PreviousNextView>
                    <GridLayout rows="auto, auto, auto">
                        <StackLayout row="0" class="input-field">
                            <TextField hint="Correo electrónico" text="" formControlName="email"></TextField>
                            <!-- <TextField class="input" hint="Email" [isEnabled]="!processing" keyboardType="email"
                                autocorrect="false" autocapitalizationType="none" [(ngModel)]="user.email" returnKeyType="next"
                                (returnPress)="focusPassword()"></TextField> -->
                            <div *ngIf="emailField.errors && emailField.dirty">
                                <Label *ngIf="emailField.hasError('required') && !this.emailField.hasError('pattern')"
                                    text="El correo es requerido" textWrap="true" class="errorTextField"></Label>
                                <Label *ngIf="emailField.hasError('pattern')" text="Correo electrónico no válido"
                                    textWrap="true" class="errorTextField"></Label>
                            </div>
                            <StackLayout class="hr-light"></StackLayout>
                        </StackLayout>

                        <StackLayout row="1" class="input-field">
                            <GridLayout rows="auto, 20" columns="*, 50">
                                <TextField row="0" col="0" colSpan="2" formControlName="contrasenaApp"
                                    [secure]=" isShowingPassword ? false : true" hint="Contraseña" text=""
                                    secure="true">
                                </TextField>
                                <Label row="0" col="1" marginTop="5"
                                    [text]="isShowingPassword ? '&#xf070;' : '&#xf06e;'" class="fas" textWrap="true"
                                    (tap)="showPassword()"></Label>
                                <div row="1" col="0" colSpan="2" *ngIf="passwordField.errors && passwordField.dirty">
                                    <Label *ngIf="passwordField.hasError('required')" text="La contraseña es requerida"
                                        textWrap="true" class="errorTextField"></Label>
                                    <Label
                                        *ngIf="passwordField.hasError('minlength') || passwordField.hasError('maxlength')"
                                        text="La contraseña debe tener entre 8 y 32 caracteres" textWrap="true"
                                        class="errorTextField"></Label>
                                </div>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                </PreviousNextView>
                <Button [isEnabled]="formGroup.valid" class="btnLogin" text="Iniciar sesión" (tap)="logIn()"></Button>
            </StackLayout>
        </form>
    </FlexboxLayout>
</ng-template>
<!-- Plantilla que se usa como "else" cuando la condición de arriba no se cumpla -->
<!-- <ng-template #elseBlock>
        <GridLayout rows="auto, *, auto" columns="" id="gridLayout-login">
            <Image row="1" rowSpan="2" verticalAlignment="bottom" src="~/assets/images/login/mejorseguro.png"></Image>
            <ScrollView row="1" width="100%" height="100%" orientation="vertical">
                <StackLayout>
                    <form [formGroup]="formGroup" height="640">
                        <GridLayout rows="auto, 20, auto, 20, auto, 30" columns="10, *, 50" width="100%"> -->
<!-- #region Email -->
<!-- <Label text="Ingrese su correo electrónico" textWrap="true" marginTop="30"></Label> -->
<!-- <TextField class="login-input" row="0" col="1" colSpan="2" hint="Usuario" text=""
                                formControlName="email" style.placeholderColor="#055fa5"></TextField>
                            <div row="1" col="1" *ngIf="emailField.errors && emailField.dirty">
                                <Label *ngIf="emailField.hasError('required') && !this.emailField.hasError('pattern')"
                                    text="El correo es requerido" textWrap="true" class="errorTextField"></Label>
                                <Label *ngIf="emailField.hasError('pattern')" text="Correo electrónico no válido"
                                    textWrap="true" class="errorTextField"></Label>
                            </div> -->
<!-- #endregion Email -->
<!-- #region Password -->
<!-- <Label text="Ingrese su contraseña" textWrap="true" marginTop="30"></Label> -->
<!-- <TextField class="login-input" row="2" col="1" colSpan="2" hint="Contraseña"
                                [secure]=" isShowingPassword ? false : true" text="" formControlName="contrasenaApp"
                                style.placeholderColor="#055fa5">
                            </TextField>
                            <Label row="2" col="2" marginTop="5" [text]="isShowingPassword ? '&#xf070;' : '&#xf06e;'"
                                class="fas" textWrap="true" (tap)="showPassword()"></Label>
                            <div row="3" col="1" *ngIf="passwordField.errors && passwordField.dirty">
                                <Label *ngIf="passwordField.hasError('required')" text="La contraseña es requerida"
                                    textWrap="true" class="errorTextField"></Label>
                                <Label
                                    *ngIf="passwordField.hasError('minlength') || passwordField.hasError('maxlength')"
                                    text="La contraseña debe tener entre 8 y 32 caracteres" textWrap="true"
                                    class="errorTextField"></Label>
                            </div> -->
<!-- #endregion Password -->
<!--                         </GridLayout>
                        <Button class="btn-login-submit btn-primary" [isEnabled]="formGroup.invalid ? false : true"
                            text="Ingresar" (tap)="logIn()"></Button>
                    </form>
                </StackLayout>
            </ScrollView>
            <GridLayout row="2" height="70" backgroundColor="white">
                <Image src="~/assets/images/login/ahorra.png" width="200"></Image>
            </GridLayout>
        </GridLayout>
    </ng-template>
</Page> -->