<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
  <ActionBar title="Detalles de mi póliza" icon="" class="action-bar">
    <NavigationButton icon="font://&#xf060;" class="fas" (tap)="goBack()"></NavigationButton>
  </ActionBar>
  <StackLayout height="100%">
    <!-- <ListView [items]="detailsArray" class="list-group">
            <ng-template let-item="item" let-odd="odd" let-even="even">
              <StackLayout>
                <Label [text]="item.text" (tap)="item.event()" class="list-group-item"></Label>
              </StackLayout>
            </ng-template>
        </ListView> -->
    <ScrollView height="100%">
      <StackLayout width="90%">

        <StackLayout>
          <Label text="DATOS DE LA PÓLIZA" textWrap="true" class="titleSectionDetails"></Label>
          <Label class="title" text="Número de Póliza" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[2]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Prima neta" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[4]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Fecha de registro" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[5]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Fecha de inicio" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[3]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Tipo de pago" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[18]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Número de pagos" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[7]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
        </StackLayout>
        <StackLayout>
          <Label text="DATOS DEL AUTO" textWrap="true" class="titleSectionDetails"></Label>
          <Label class="title" text="Tipo subramo" textWrap="true"></Label>
          <Label class="title-body" [text]="dataPolicie[15]" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Modelo" textWrap="true"></Label>
          <Label class="title-body" [text]="dataCarPolicie['modelo']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Marca" textWrap="true"></Label>
          <Label class="title-body" [text]="dataCarPolicie['marca']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Número de motor" textWrap="true"></Label>
          <Label class="title-body" [text]="dataCarPolicie['numeroMotor']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Número de placas" textWrap="true"></Label>
          <Label class="title-body" [text]="dataCarPolicie['numeroPlacas']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
          <Label class="title" text="Descripción" textWrap="true"></Label>
          <Label class="title-body" [text]="dataCarPolicie['descripcion']" textWrap="true"></Label>
          <StackLayout class="hr"></StackLayout>
        </StackLayout>
      </StackLayout>
    </ScrollView>
  </StackLayout>
</Page>