<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
    <ActionBar title="Mi Solicitudes" icon="" class="action-bar">
        <NavigationButton icon="font://&#xf060;" class="fas" (tap)="goBack()"></NavigationButton>
        <ActionItem ios.position="left" icon="font://&#xf15c;" class="fas" android.position="actionBar">
        </ActionItem>
    </ActionBar>
    <StackLayout height="100%">
        <StackLayout width="90%">
            <Label text="Aún no tienes solicitudes" textWrap="true"></Label>
        </StackLayout>
    </StackLayout>
</Page>