// Add mobile styles for the component here.
/* #region SideDrawer Styles */
.stk-drawer-header {
    height: 10%;
    background-color: #4c4fcd;
    border-color: darkgray;
    border-width: 0 0 1 0;
    .user-icon {
        height: 160px;
        width: 160px;
        border-radius: 50%;
        margin-left: 25;
        margin-right: 30;
    }
}

.drawer-header {
    font-size: 18;
    color: #fff;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
}
/* #endregion */

.btn-sidedrawer {
    android-elevation: 0;
    text-align: left;
    padding-left: 35px;
    font-size: 16;
    font-weight: bold;
    text-transform: uppercase;
    border-color: #aaaaaa;
    border-width: 0 0 1 0;
    height: 100px;
    width: 98%;
    #logout {
        border-color: #aaaaaa;
        border-width: 1 1 1 1;
    }
    color: #000;
}

#logout {
    android-elevation: 0;
    text-align: left;
    padding-left: 35px;
    font-size: 16;
    font-weight: bold;
    text-transform: uppercase;
    border-color: #aaaaaa;
    border-width: 1 0 1 0;
    height: 100px;
    width: 98%;
}
