<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
    <ActionBar>
        <Label [text]="'HOLA, ' + fullClientName" textWrap="true"></Label>
        <!-- <NavigationButton icon="font://&#xf0c9;" class="fas fas-size-ab" (tap)="onOpenDrawerTap()">
        </NavigationButton> -->
        <ActionItem ios.position="left" icon="font://&#xf0c9;" class="fas" android.position="actionBar"
            (tap)="onOpenDrawerTap()">
        </ActionItem>
    </ActionBar>
    <StackLayout orientation="vertical" *ngIf="isLoading; else elseBlock">
        <app-loader [(textLoader)]="textLoader"></app-loader>
    </StackLayout>
    <ng-template #elseBlock>
        <StackLayout *ngIf="activatePrivacity === true && !isLoading; else elseBlk">
            <app-privacity (privacityAccept)="receiveStatus($event)"></app-privacity>
        </StackLayout>
        <ng-template #elseBlk>
            <RadSideDrawer [drawerLocation]="drawerLocation">
                <StackLayout tkDrawerContent>
                    <StackLayout class="stk-drawer-header">
                        <GridLayout rows="*" columns="80, 200">
                            <Image col="0" class="user-icon" src="~/assets/images/logos-ahorra/ball-seguros.png">
                            </Image>
                            <Label col="1" class="drawer-header" text="Menú" textWrap="true"></Label>
                        </GridLayout>
                    </StackLayout>
                    <GridLayout rows="*, 40" columns="">
                        <StackLayout height="100%" row="0">
                            <Button margin="0" class="btn-sidedrawer fas" text="&#xf07c;     Mis Pólizas"
                                (tap)="onMenuItemTap('/policies')"></Button>
                            <Button margin="0" class="btn-sidedrawer fas" text="&#xf15c;      Mis Solicitudes"
                                (tap)="onMenuItemTap('/petitions')"></Button>
                            <Button margin="0" class="btn-sidedrawer fas" text="&#xf2bd;     Mi Perfil"
                                (tap)="onMenuItemTap('/profile')"></Button>
                        </StackLayout>
                        <Button row="1" margin="0" class="btn-sidedrawer fas" id="logout"
                            text="&#xf2f5;     Cerrar sesión" (tap)="logOut()"></Button>
                    </GridLayout>
                </StackLayout>
                <StackLayout tkMainContent height="100%">
                    <app-tabs></app-tabs>
                </StackLayout>
            </RadSideDrawer>
        </ng-template>
    </ng-template>
</Page>