@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

//------Colores
$theme-pricipal-color: #022462; //ActionBar
$theme-pink-color: #fe007d;
$theme-gray-color: gray;
$theme-white-color: white;
$theme-green-color: #009232;
$theme-actionbar-options-slected: $theme-pink-color;
$theme-search-bar-color: #afafaf;
//------Fuentes
//phone
$theme-title-font-size-phone: 34px;
$theme-title-1-font-size-phone: 28px;
$theme-title-2-font-size-phone: 22px;
$theme-title-3-font-size-phone: 20px;
$theme-title-4-font-size-phone: 18px;
$theme-title-5-font-size-phone: 16px;
$theme-text-body-font-size-phone: 13px;
//tablet
$theme-title-font-size-tablet: 44px;
$theme-title-1-font-size-tablet: 38px;
$theme-title-2-font-size-tablet: 34px;
$theme-title-3-font-size-tablet: 31px;
$theme-text-body-font-size-tablet: 28px;

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

// Custom tabstrip item class
/* .navigation__item {
    &:active,
    &:active Label {
        @include colorize($contrasted-color: complementary background 20% 0%);
    }
} */

// Common page class
/* .page__content {
    &-icon,
    &-placeholder {
        color: const(grey);
        font-size: 20;
        vertical-align: center;
        horizontal-align: center;
    }

    &-icon {
        font-size: 72;
        vertical-align: top;
        margin-top: 20%;
    }
} */

// Variables de colores
$theme--principal-color: #4c4fcd;

ActionBar {
    background-color: $theme--principal-color;
    font-size: 10px;
    Label {
        font-size: 18px;
        font-weight: bold;
        text-align: left;
    }
}

.stacklayut-margin {
    margin: 30 10 10 10;
}

.title {
    font-size: $theme-title-5-font-size-phone;
    color: #000;
    font-weight: bold;
}

.title-body {
    font-size: $theme-title-5-font-size-phone;
    color: #000;
}

// Estilos para tabs
TabStrip {
    selected-item-color: #fff;
    un-selected-item-color: #fff;
    highlight-color: $theme--principal-color;
    background-color: $theme--principal-color;
    font-weight: bold;
    font-size: 12;
}

// #region Cards

// Estilos para las cards que se muestran en el componente Profile (perfile) y Policies (Pólizas)

.stacklayout-card {
    /* margin-top: 20; */
    border-color: rgb(238, 236, 236);
    border-width: 1;
    border: 1 1 1 1;
    border-radius: 10%;
    background-color: #fff;
}

.stacklayout-card-title {
    border-width: 0 0 1 0;
    border-color: #b6c1d4;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    padding: 50px 0 25px 0;
    font-size: 16;
    text-align: center;
    font-weight: bold;
    width: 94%;
    color: #022462;
}

.stacklayout-card-body {
    padding: 35px;
}

.stacklayout-card-options {
    border-width: 1 0 0 0;
    border-color: #b6c1d4;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    padding: 50px 0 25px 0;
    font-size: 16;
    text-align: center;
    font-weight: bold;
    width: 94%;
    color: #022462;
}

.shadow {
    margin-top: 20;
    background-color: hsl(225, 1%, 95%);
    padding: 0 15px 15px 0;
    border-radius: 10%;
}
// #endregion
