// Add mobile styles for the component here
.itemText {
    font-size: 18;
    color: #000;
}

.itemSubText {
    font-size: 13;
    color: gray;
}

.itemIcon {
    font-size: 20;
}

.subItems {
    vertical-align: text-top;
    border: 1;
    line-height: 0;
}

// Accordion Styles
.app-accordion {
    margin: 0 5 0 5;
}

.accordionTitle{
    font-size: 15;
    vertical-align: middle;
    font-weight: bold;
}

.accordionIcon {
    vertical-align: center;
    font-size: 18;
}

.accordion{
    
    // border: 1 1 1 1;
}
