<Page xmlns="http://www.nativescript.org/tns.xsd" loaded="onLoaded" navigatedTo="onNavigatedTo">
    <ActionBar title="Solicitudes" icon="" class="action-bar">
        <NavigationButton icon="font://&#xf060;" class="fas" (tap)="goBack()"></NavigationButton>
    </ActionBar>
    <StackLayout height="100%" width="90%" marginTop="20">
        <!-- <ListView [items]="petitionsData" class="list-group">
            <ng-template let-item="item" let-odd="odd" let-even="even">
                <StackLayout (tap)="item.event()">
                    <Label [text]="item.title" class="list-group-item itemText"></Label>
                    <Label [text]="item.subtitle" class="list-group-item itemSubText"></Label>
                    <GridLayout rows="30, 30, 30" columns="*, 50" class="subItems">
                        <Label row="0" col="0" [text]="item.subtitle" class="list-group-item itemSubText"></Label>
                        <Label row="1" col="0" [text]="item.text" class="list-group-item itemSubText"></Label>
                        <Label row="1" rowSpan="2" col="1" [text]="item.icon" class="list-group-item fas itemIcon"
                            (tap)="callCenter()"></Label>
                        <Label row="2" col="0" [text]="item.phone" class="list-group-item itemSubText"></Label>
                    </GridLayout>
                </StackLayout>
            </ng-template>
        </ListView> -->
        <ScrollView>
            <StackLayout>

                <StackLayout *ngFor="let item of petitionsData" class="app-accordion">
                    <StackLayout class="hr"> </StackLayout>
                    <GridLayout rows="30, *" columns="*, 30" class="accordion">
                        <Label class="accordionTitle" [text]="item.title" row="0" col="0" textWrap="true"
                            (tap)="actionAccordion(item.id)"></Label>
                        <Label [text]="isAccordionOpen && idToOpen === item.id ? '&#xf077;' : '&#xf078;'"
                            class="fas accordionIcon" row="0" col="1" textWrap="true"
                            (tap)="actionAccordion(item.id)"></Label>
                        <StackLayout row="1" col="0" *ngIf="isAccordionOpen && idToOpen === item.id">
                            <GridLayout rows="*, *" columns="40, *">
                                <Label row="0" [col]="item.icon.trim() === '' ? 0 : 1" [colSpan]="item.icon.trim() === '' ? 2 : 0"
                                    [text]="item.subtitle" textWrap="true"></Label>
                                <Label row="1" [col]="item.icon.trim() === '' ? 0 : 1" [colSpan]="item.icon.trim() === '' ? 2 : 0"
                                    [text]="item.phone.trim() === '' ? item.text : 'Llame al ' + item.phone + ' ' + item.text"
                                    textWrap="true"></Label>
                                <Label verticalAlignment="center" row="0" col="0" rowSpan="2"
                                    *ngIf="item.phone.trim() !== ''" [text]="item.icon" class="fas accordionIcon"
                                    textWrap="true"></Label>
                            </GridLayout>
                        </StackLayout>
                    </GridLayout>
                    <StackLayout class="hr"> </StackLayout>
                </StackLayout>

            </StackLayout>
        </ScrollView>
    </StackLayout>
</Page>